.container {
    width: 100%;
    background: var(--gray-500);
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.container button {
    background-color: transparent;
    border: none;
    color: var(--gray-300);
    cursor: pointer;
    padding: 0.3125rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: color 400ms, background 400ms;
}

.container button:hover {
    background-color: var(--gray-400);
    color: var(--red-100);
}

.item {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
    color: var(--gray-100);
}

.item p {
    max-width: 39.5rem;
    cursor: pointer;
}

.item p::first-letter {
    text-transform: capitalize;
}

.radio {
    position: absolute;
    opacity: 0;
    height: 0px;
    width: 0px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
    background-color: transparent;
    border: 1px solid var(--blue-300);
    border-radius: 50%;
    cursor: pointer;

    transition: background 400ms, border 400ms;
}

.item:hover input ~ .checkmark {
    border: 1px solid var(--blue-600);
    background-color: rgba(30, 111, 159, 0.2);
}

.item input:checked ~ .checkmark {
    background: var(--purple-600);
    border: 1px solid var(--purple-600);

    transition: background 400ms, border 400ms;
}

.item input:checked ~ .checkmark:hover {
    background: var(--purple-300);
    border: 1px solid var(--purple-300);
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none; 
}

.item input:checked ~ .checkmark::after {
    display: block;
}

.item input:checked ~ p {
    color: var(--gray-300);
    text-decoration: line-through;
}

.item .checkmark::after {
    left: 7px;
    top: 3px;
    width: 2px;
    height: 7px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



